<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--appender代表日志展示的位置
        name:输出的别名
        class:以哪种方式输出
    -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!--用来指定日志展示格式-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--
            %p:用来展示日志的级别信息   %d:展示当前时间   %m:展示主线程级别信息   %n:换行
            -->
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss} %m %n</pattern>
        </layout>
    </appender>
    <!--项目中的根日志 只能出现一次-->
    <root level="INFO">
        <!--根日志输出位置-->
        <appender-ref ref="stdout"/>
    </root>
</configuration>